*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
header{
    width: 100%;
    height: 90vh;
    background:linear-gradient(rgba(8, 0, 0, 0.8),rgba(1, 1, 14, 0.8)),  url(istockphoto-1191133255-612x612.jpg);
    background-size: cover;
    background-attachment: fixed;
}
nav{
    width: 100%;
    height: 80px;
    background-color: white;
    align-items: center;
    justify-content: space-between;
    color: black;
    display: flex;
    padding: 0 80px;
    /* box-shadow: 10px 10px 10px 10px gray; */
    /* border-radius: 50%; */
    
 }

.logo{
    font-family: sans-serif;
    font-size: 27px;
    font-style: bolder;
    color: red;
    padding-right: 5%;
}
.logo span{
    color: #090101;
} 




.manue a{
    padding: 10px 20px;
    font-size: 20px;
    font-family: sans-serif;
    text-decoration: none;
  margin: 20px;
  color: black;


}
.manue a:hover{
    color:red
} 
 .icon a{
    color: black;
    text-decoration: none;
    font-size: 20px ;
    border: 12px;
    
    
}
.icon a:hover{
color:white;
background: red;
border-radius: 8px;
}


 .h-text{color: white;
    min-width: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center; 

}


.filter-gallery{
    padding: 100px;

}

.portfolio-menu{
    margin-bottom: 20px;
    text-align: center;
}

.portfolio-menu ul li{
      list-style: none;
      display: inline-block;
      margin: 20px 0px;
      font-size: 20px;
      font-weight: bold;
      font-family: sans-serif;
      padding: 10px 20px;
      cursor: pointer;
      transition: 0.5s ease;
}
.portfolio-menu ul li:hover{
    color: white;
    background: red;
    border-radius: 8px;
}

li.active{
    color: white;
    background: #e74c3c;
    border-radius: 8px;
}

.portfolio-item{
    width: 100%;
}
.portfolio-item .item{
width: 360px;
height: 360px;
margin-bottom: 20px;
margin-right: 20px;
}
.portfolio-item .item img{
    width: 100%;
    height: 100%;
    border-radius: 25px;
    box-shadow: 8px;
    box-shadow: 0 2px 4px 0 grey,
                 0 2px 4px 0 grey
     }
     .member{
        width: 100%;
        font-family: sans-serif;
        padding: 20px 100px;
     }

     .member-info{
           text-align: center;


     }
     .member-info h1{
        font-size: 2.5em;
     }
     .member-info span{

           color: red;
     }
      .member-card {
          text-align: center;
          padding-top: 50px;
          width: 50%;
          margin: auto; 
     }
      .member-card p{
         line-height: 2em;
         margin: 20px;

      }
      .member-card h2{
        margin: 20px 0px;
      }


     
      .m-images{
        display: flex;
        width: 100%;
        
      }
      .m-images img{
        width: 100%;
        padding: 10px;
        border-radius: 25px;
        
      }
      .m-images img:hover{
        width: 104%;
        height: 104px;

      cursor: pointer;
      }
      footer{
        width: 100%;
        height: 100vh;
        padding: 50px 100px;
        background: #262626;
      }

      .newsletter{
         width: 100%;
         justify-content: space-between;
         align-items: center;
         border: 1px solid rgba(255, 255, 255, 0.2);
         text-align: center;
         padding: 30px;
      }
      h2{
        color: white;
      }
      p{
        color: white;
      }
    .newsletter div{
          flex-basis: 50%;
    }

    .fa-content{
      color: white;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 2px solid rgb(255,255,255,0.2);
      margin-top: 3em;
    }
   
     .fa-content div{
      flex-basis: 20%;


    } 
 
     .fa-content p{
         font-size: 16px;
         color: grey;
          

     }
     .fa-content p:hover{
      cursor: pointer;
      color: white;
     }
   
     .icon{

      text-decoration: none;
      background-color: #e6dbdb;
      padding: 10px 20px;
      margin-left: 30px;
      border-radius: 50px;
      color: black;
    }




